body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right, #1e3c72, #2a5298);

  font-family: Arial, sans-serif;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;

  background: rgba(255, 255, 255, 0.1);
  padding: 20px 40px;

  border-radius: 15px;

  box-shadow: 0 0 20px rgba(0,0,0,0.4);

  transition: 0.3s;
}

h1:hover {
  transform: scale(1.05);
  color: #ffd700;
}

